node_modules
**/node_modules
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

node_modules
node_modules/@google-cloud/storage/CHANGELOG.md
node_modules/@google-cloud/storage/package.json
node_modules/@google-cloud/storage/build/src/bucket.d.ts
node_modules/@google-cloud/storage/build/src/bucket.js
node_modules/@google-cloud/storage/node_modules/.bin/mime
node_modules/@google-cloud/storage/node_modules/mime/CHANGELOG.md
node_modules/@google-cloud/storage/node_modules/mime/cli.js
node_modules/@google-cloud/storage/node_modules/mime/index.js
node_modules/@google-cloud/storage/node_modules/mime/LICENSE
node_modules/@google-cloud/storage/node_modules/mime/lite.js
node_modules/@google-cloud/storage/node_modules/mime/Mime.js
node_modules/@google-cloud/storage/node_modules/mime/package.json
node_modules/@google-cloud/storage/node_modules/mime/README.md
node_modules/@google-cloud/storage/node_modules/mime/types/other.js
node_modules/@google-cloud/storage/node_modules/mime/types/standard.js
node_modules/bignumber.js/bignumber.d.ts
node_modules/bignumber.js/bignumber.js
node_modules/bignumber.js/bignumber.min.js
node_modules/bignumber.js/bignumber.min.js.map
node_modules/bignumber.js/bignumber.mjs
node_modules/bignumber.js/CHANGELOG.md
node_modules/bignumber.js/LICENCE
node_modules/bignumber.js/package.json
node_modules/bignumber.js/README.md
node_modules/bignumber.js/doc/API.html
node_modules/duplexify/node_modules/readable-stream/CONTRIBUTING.md
node_modules/duplexify/node_modules/readable-stream/errors-browser.js
node_modules/duplexify/node_modules/readable-stream/errors.js
node_modules/duplexify/node_modules/readable-stream/experimentalWarning.js
node_modules/duplexify/node_modules/readable-stream/GOVERNANCE.md
node_modules/duplexify/node_modules/readable-stream/LICENSE
node_modules/duplexify/node_modules/readable-stream/package.json
node_modules/duplexify/node_modules/readable-stream/readable-browser.js
node_modules/duplexify/node_modules/readable-stream/readable.js
node_modules/duplexify/node_modules/readable-stream/README.md
node_modules/duplexify/node_modules/readable-stream/lib/_stream_duplex.js
node_modules/duplexify/node_modules/readable-stream/lib/_stream_passthrough.js
node_modules/duplexify/node_modules/readable-stream/lib/_stream_readable.js
node_modules/duplexify/node_modules/readable-stream/lib/_stream_transform.js
node_modules/duplexify/node_modules/readable-stream/lib/_stream_writable.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/async_iterator.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/buffer_list.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/destroy.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/end-of-stream.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/from-browser.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/from.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/pipeline.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/state.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/stream-browser.js
node_modules/duplexify/node_modules/readable-stream/lib/internal/streams/stream.js
node_modules/get-intrinsic/.eslintignore
node_modules/get-intrinsic/.eslintrc
node_modules/get-intrinsic/.nycrc
node_modules/get-intrinsic/CHANGELOG.md
node_modules/get-intrinsic/index.js
node_modules/get-intrinsic/package.json
node_modules/get-intrinsic/README.md
node_modules/get-intrinsic/test/GetIntrinsic.js
node_modules/google-auth-library/node_modules/jwa/index.js
node_modules/google-auth-library/node_modules/jwa/LICENSE
node_modules/google-auth-library/node_modules/jwa/package.json
node_modules/google-auth-library/node_modules/jwa/README.md
node_modules/google-auth-library/node_modules/jws/CHANGELOG.md
node_modules/google-auth-library/node_modules/jws/index.js
node_modules/google-auth-library/node_modules/jws/LICENSE
node_modules/google-auth-library/node_modules/jws/package.json
node_modules/google-auth-library/node_modules/jws/readme.md
node_modules/google-auth-library/node_modules/jws/lib/data-stream.js
node_modules/google-auth-library/node_modules/jws/lib/sign-stream.js
node_modules/google-auth-library/node_modules/jws/lib/tostring.js
node_modules/google-auth-library/node_modules/jws/lib/verify-stream.js
node_modules/gtoken/node_modules/jwa/index.js
node_modules/gtoken/node_modules/jwa/LICENSE
node_modules/gtoken/node_modules/jwa/package.json
node_modules/gtoken/node_modules/jwa/README.md
node_modules/gtoken/node_modules/jws/CHANGELOG.md
node_modules/gtoken/node_modules/jws/index.js
node_modules/gtoken/node_modules/jws/LICENSE
node_modules/gtoken/node_modules/jws/package.json
node_modules/gtoken/node_modules/jws/readme.md
node_modules/gtoken/node_modules/jws/lib/data-stream.js
node_modules/gtoken/node_modules/jws/lib/sign-stream.js
node_modules/gtoken/node_modules/jws/lib/tostring.js
node_modules/gtoken/node_modules/jws/lib/verify-stream.js
node_modules/jwa/index.js
node_modules/jwa/package.json
node_modules/jwa/README.md
node_modules/jws/package.json
node_modules/jws/readme.md
node_modules/mime/.npmignore
node_modules/mime/CHANGELOG.md
node_modules/mime/cli.js
node_modules/mime/mime.js
node_modules/mime/package.json
node_modules/mime/README.md
node_modules/mime/types.json
node_modules/mime/src/build.js
node_modules/mime/src/test.js
node_modules/readable-stream/.travis.yml
node_modules/readable-stream/duplex-browser.js
node_modules/readable-stream/duplex.js
node_modules/readable-stream/package.json
node_modules/readable-stream/passthrough.js
node_modules/readable-stream/readable-browser.js
node_modules/readable-stream/readable.js
node_modules/readable-stream/README.md
node_modules/readable-stream/transform.js
node_modules/readable-stream/writable-browser.js
node_modules/readable-stream/writable.js
node_modules/readable-stream/doc/wg-meetings/2015-01-30.md
node_modules/readable-stream/lib/_stream_duplex.js
node_modules/readable-stream/lib/_stream_passthrough.js
node_modules/readable-stream/lib/_stream_readable.js
node_modules/readable-stream/lib/_stream_transform.js
node_modules/readable-stream/lib/_stream_writable.js
node_modules/readable-stream/lib/internal/streams/BufferList.js
node_modules/readable-stream/lib/internal/streams/destroy.js
node_modules/readable-stream/node_modules/safe-buffer/index.d.ts
node_modules/readable-stream/node_modules/safe-buffer/index.js
node_modules/readable-stream/node_modules/safe-buffer/LICENSE
node_modules/readable-stream/node_modules/safe-buffer/package.json
node_modules/readable-stream/node_modules/safe-buffer/README.md
node_modules/string_decoder/.travis.yml
node_modules/string_decoder/package.json
node_modules/string_decoder/node_modules/safe-buffer/index.d.ts
node_modules/string_decoder/node_modules/safe-buffer/index.js
node_modules/string_decoder/node_modules/safe-buffer/LICENSE
node_modules/string_decoder/node_modules/safe-buffer/package.json
node_modules/string_decoder/node_modules/safe-buffer/README.md
